@font-face{
    font-family: Digital-7;
    src: url("../fonts/digital-7.ttf");

}

@font-face{
    font-family: Nexa Bold; 
    src: url("../fonts/Nexa-Bold.otf");
}


* {
    -fx-rosa: #E8175D;
    -fx-preto: #32292F;
}

.adm-radiobtn {
    -fx-selected-color: -fx-rosa;
    -fx-rippler-fill: -fx-rosa;
    -fx-selected-color: -fx-rosa;
    -fx-unselected-color: -fx-preto;
    -fx-font-family: "Nexa Bold";
    -fx-color: #FFFFFF ;
    -fx-font-size: 16px;
}

.btnAddFalta{
    -fx-background-image: url("../icons/addycard.png") ;

}
.btnKickPlayer{
    -fx-background-image: url("../icons/addrcard.png") ;

}
.btnRemoveFalta{
    -fx-background-image: url("../icons/removeycard.png");
}
.btnEndGame{
    -fx-background-image: url("../icons/whistle32.png") ;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto 90%;

}
.btnPausarPartida{
    -fx-background-image: url("../icons/pause.png");

}
.btnDespauseGame{
    -fx-background-image: url("../icons/play.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

.btnZerarCrono {
    -fx-background-image: url("../icons/hand.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto 90%;
    -fx-font-family: "Digital-7";
    -fx-color:#FFFFFF ;
}

.text-default {
    -fx-font-family: "Nexa Bold";
    -fx-color: #FFFFFF ;
    -fx-font-size: 18px;

}
.text-digital{
    -fx-font-family: "Digital-7";
    -fx-color:#FFFFFF ;
}

.btn-destaque {
    -fx-font-family: "Nexa Bold";
    -fx-background-color: -fx-rosa;
    -fx-font-size: 20px;
    -fx-color: -fx-preto;
    -fx-font-weight: bold;
    -fx-height: 60px;
    -fx-max-height: 60px;
    -fx-min-height: 60px;
}

.btn-default {
    -fx-font-family: "Nexa Bold";
    -fx-background-color: -fx-rosa;
    -fx-font-size: 16px;
    -fx-color: -fx-preto;
    -fx-font-weight: bold;
    -fx-height: 40px;
    -fx-max-height: 40px;
    -fx-min-height: 40px;
}

.default-text-field {
    -fx-font-family: "Nexa Bold";
}

.bg-container {
    -fx-background-color: #FFFFFF;
}

.bg-container-black {
    -fx-background-color: -fx-preto;
}

.bg-loading {
    -fx-background-color: #172027;
}

.label-loading {
    -fx-font-family: "Digital-7";
    -fx-text-fill: #6b737b;
    -fx-font-size: 30px;
}

.bg-color-destaque {
    -fx-background-color: -fx-rosa;
}

.title {
    -fx-font-family: "Nexa Bold";
    -fx-font-size: 26px;
    -fx-text-fill: -fx-rosa;
}

.lbl-destaque {
    -fx-font-size: 26px;
    -fx-background-color: -fx-rosa;
}

.text-digital {
    -fx-color: -fx-rosa;
    -fx-font-size: 18px;
    -fx-font-family: "Digital-7";
}

.text-destaque {
    -fx-font-family: "Digital-7";
    -fx-color: -fx-rosa;
    -fx-font-size: 20px;
}

.btn-close {
    -fx-background-image: url("../icons/close.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto 90%;
    -fx-border-radius: 900;
    -fx-background-color: #FFFFFF;
    -fx-color: #FFFFFF;
}

.text-placar{
    -fx-font-family: "Digital-7";
    -fx-color: -fx-rosa;
    -fx-font-size: 55px;
}

.text-placar-destaque {
    -fx-font-family: "Digital-7";
    -fx-color: #FFFFFF;
    -fx-font-size: 100px;
}

.text-default-low {
    -fx-font-family: "Nexa Bold";
    -fx-color: #FFFFFF ;
    -fx-font-size: 14px;

}

.adm-logo-basquete {
    -fx-background-image: url("../icons/hand.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto 100%;
}

.adm-logo-futebol{
    -fx-background-image: url("../icons/foot.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto 100%;
}

.wrapper-advertise {
    -fx-float: right;
    -fx-righ: 0;
}

.lbl-advertise {
    -fx-font-family: "Digital-7";
    -fx-text-fill: -fx-rosa;
    -fx-font-size: 200;
}

.container-preview {
    border: 2px solid #E8175D;
}