/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/03/2018, 18:17:19
    Author     : wilia
*/
@font-face{
    src: url("../resources/fonts/digital-7.ttf");
}
.text{
    -fx-font-family: "Digital-7";
}
.button{
    -fx-background-image: url("../resources/icons/x.png");
}